@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

*{ margin: 0px;
padding:0px;}

body{
  background: url(fundo\ 2.jpg)  no-repeat center/cover fixed;
   
   
}

.titulo-ca{
    display: flex;
    margin: auto;
    width: 95%;
    height: auto;
padding: 20px;
margin-top: 20px;
margin-bottom: 10px;
    background-image: url(banner.png);
    background-color: aliceblue;
    opacity: 0.9;
    background-size:cover;
    gap:20px;
    justify-content: center;
     flex-wrap: wrap;
      box-sizing: border-box;
      border-radius: 30px;
margin-bottom: 10px;
  

gap:50px;}
  
.titulop{  color: rgb(255, 255, 255); text-align: center;
    font-size: 40px;
   font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: relative;
  margin: 55px 0;
  opacity: 2;
 
  

}

.logo{
    
   
  
   height: auto;
    width: auto;
    max-height: 130px;
    max-width: 130px;
    min-width: 40px;
 
   

}

.menu{background-color: rgba(0, 0, 0, 0.61);
  padding-top: 20px;
    padding: 50px;
    color: aliceblue;
   margin-bottom: 50px;
       width: 90%; 
  display: flex;
  justify-content: center;
  gap: 20px; 
    list-style: none;
    border-radius: 40px;
margin: auto;
      font-family: "Cinzel", serif;
} 
ul li{padding:10px;
 border-radius: 60px;
transition: all 0.3s ease-in-out;}
ul li:hover{
  background-color:rgba(240, 248, 255, 0.603) ;
  color: black;
  transform: rotate(2deg);
}
  
      
       
    main{width: auto;} main>p{
      color: rgb(0, 0, 0);
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.226);
      border-radius: 40px;
      font-size:23px ;
      margin: 60px;
      text-shadow: 3px 3px 8px rgba(5, 36, 37, 0.747) ;
    } main>h2{  display: flex; 
      font-size:50px ;
      margin:60px;
      color: rgb(0, 0, 0);


    } main>blockquote{
          display: flex; 
      font-size:20px;
      background-color: rgba(22, 27, 31, 0.267);
      margin: 60px;
      box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.459);
      border-radius:20px ;
      padding: 60px;
        color: rgb(0, 0, 0);
    }
.imagem1{
  display: flex;
  width: 50vw;
  margin: auto 0 0 60px;
  
  
}aside{
  color: aliceblue;
  font-size: 50px;
  font-family:  "Cinzel", serif;
  font-style: 400;
  text-align: center;
  margin-bottom: 50px;
} 

.video{
 display:flex;
  padding: 20px;
margin: auto;
justify-content: center;
background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
border-radius:40px;
 width: 70%; 
 height: 50vh;
  overflow: hidden;
   position: relative;



  

}.video iframe {
  position: absolute;      
  top: 0;
  left: 0;
  width: 100%;        
  height: 100%;        
  border: 0;
}
footer{background-color: black;
color: aliceblue;
font-size: 16px;
padding: 40px;}
    @media (max-width:780px){header{padding: 55px 3px}
      .menu {margin-bottom:20px;padding:50px 3px;}
 main> h2{padding:10px;
  margin-bottom:10px;
font-size: 2em;}
      main>p{padding:30px;
  margin:2px;
font-size: 1.3em;
overflow-x: hidden;}
main> blockquote{
  padding: 30px;
  margin: 5px;
 
}
blockquote> p{ font-size:10px ;}
    }
       
        


   